body {
    font-family: "Trebuchet MS", Arial, sans-serif;
}

.img-box {
    margin: 20px 0;
}

.img {
    width: 100%;
    height: auto;
    max-width: 300px;
    margin: auto;
    display: block;
}

.names-box {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-weight: bold;
    font-size: large;
}